{% extends "base.html" %}

{% block main %}
<h1>Secure Page</h1>
<p>• Redirect the user to the /secure-page route and display a flash
    message to the user letting them know that they have successful
    logged in. You will create this route in the next step.Create the /secure-page route and secure_page() view function
    along with a template file called 'secure_page.html' that is to be
    rendered. This page should have an h1 heading that says "Secure
    Page" and a simple paragraph of your choosing.</p>
{% endblock %}